In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=0fc53bd34c7e0f4833269c111795a4e51aaee5c9b9f78017a58418d85754b6b2
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

sc = SparkContext.getOrCreate()
spark = SparkSession.builder.appName('Adventure_Works_Spark').getOrCreate()

In [3]:
dept_df = spark.read.csv("/content/Department.csv", header=True, inferSchema=True)
employee_df = spark.read.csv("/content/Employee.csv", header=True, inferSchema=True)
dept_history_df = spark.read.csv("/content/DepartmentHistory.csv", header=True, inferSchema=True)
pay_history_df = spark.read.csv("/content/PayHistory.csv", header=True, inferSchema=True)
person_df = spark.read.csv("/content/Person.csv", header=True, inferSchema=True)

**Easy**

In [4]:
#1 Select the 'BusinessEntityID', 'FirstName', and 'LastName' columns from the Person DataFrame
show_cols = person_df.select("BusinessEntityID", "FirstName", "LastName")


show_cols.show()

+----------------+---------+----------+
|BusinessEntityID|FirstName|  LastName|
+----------------+---------+----------+
|               1|      Ken|   Sánchez|
|               2|    Terri|     Duffy|
|               3|  Roberto|Tamburello|
|               4|      Rob|   Walters|
|               5|     Gail|  Erickson|
|               6|   Jossef|  Goldberg|
|               7|    Dylan|    Miller|
|               8|    Diane|  Margheim|
|               9|     Gigi|   Matthew|
|              10|  Michael|    Raheem|
|              11|   Ovidiu|   Cracium|
|              12|  Thierry|    D'Hers|
|              13|   Janice|    Galvin|
|              14|  Michael|  Sullivan|
|              15|   Sharon| Salavaria|
|              16|    David|   Bradley|
|              17|    Kevin|     Brown|
|              18|     John|      Wood|
|              19|     Mary|   Dempsey|
|              20|   Wanida|  Benshoof|
+----------------+---------+----------+
only showing top 20 rows

In [5]:
#2 Filter rows where 'FirstName' starts with 'A'
a_fname = person_df.filter(person_df["FirstName"].startswith('A'))

a_fname.show(5)

+---+----------------+----------+---------+-----+---------+----------+---------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|_c0|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName| LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|        ModifiedDate|
+---+----------------+----------+---------+-----+---------+----------+---------+------+--------------+---------------------+--------------------+--------------------+--------------------+
| 32|              33|        EM|    false| NULL|    Annik|         O|    Stahl|  NULL|             0|                 NULL|"<IndividualSurve...|BFA2BDC8-208A-447...|2008-12-10 00:00:...|
| 46|              47|        EM|    false| NULL|   Andrew|         R|     Hill|  NULL|             1|                 NULL|"<IndividualSurve...|B6439F4F-E57D-429...|2009-02-15 00:00:...|
|108|             109|        EM|    false| NULL|    Alice|         O|    Ciccu|  NULL|             1|                 NULL|"<IndividualSurve...|B5836E66-4251-4D4...|2008-11-30 00:00:...|
|114|             115|        EM|    false| NULL|   Angela|         W|Barbariol|  NULL|             2|                 NULL|"<IndividualSurve...|8E6ADFD0-2FE0-4EB...|2009-01-13 00:00:...|
|136|             137|        EM|    false| NULL|   Anibal|         T|    Sousa|  NULL|             0|                 NULL|"<IndividualSurve...|9B75A538-958C-4C9...|2009-02-16 00:00:...|
+---+----------------+----------+---------+-----+---------+----------+---------+------+--------------+---------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [6]:
#3 Sort the DataFrame by 'LastName' in ascending order
sort_lname = person_df.orderBy("LastName", ascending=True)

sort_lname.show(5)

+----+----------------+----------+---------+-----+---------+----------+-----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
| _c0|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|   LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|        ModifiedDate|
+----+----------------+----------+---------+-----+---------+----------+-----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
| 284|             285|        SP|    false|  Mr.|     Syed|         E|      Abbas|  NULL|             0|                 NULL|"<IndividualSurve...|FF284881-01C2-4C7...|2013-03-07 00:00:...|
| 291|             293|        SC|    false|  Ms.|Catherine|        R.|       Abel|  NULL|             1| "<AdditionalConta...| contact the mana...|"<IndividualSurve...|D54E0552-C226-4C2...|
|  37|              38|        EM|    false| NULL|      Kim|         B|Abercrombie|  NULL|             2|                 NULL|"<IndividualSurve...|9A2163B3-2F4D-4F9...|2010-01-09 00:00:...|
| 292|             295|        SC|    false|  Ms.|      Kim|      NULL|Abercrombie|  NULL|             0| "<AdditionalConta...|"<IndividualSurve...|F7CBDB48-0B44-470...|2015-04-15 16:33:...|
|1364|            2170|        GC|    false| NULL|      Kim|      NULL|Abercrombie|  NULL|             2|                 NULL|"<IndividualSurve...|24F01B54-7A67-4B4...|2009-11-29 00:00:...|
+----+----------------+----------+---------+-----+---------+----------+-----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [7]:
#4 Retrieve distinct 'FirstName' values from the DataFrame
distinct_fnames = person_df.select("FirstName").distinct()

distinct_fnames.show(5)

+---------+
|FirstName|
+---------+
|   Britta|
|     Chad|
| Samantha|
|    Shawn|
|  Shannon|
+---------+
only showing top 5 rows

In [8]:
#5 Count the number of records in the DataFrame
rcount = person_df.count()

print('The number of records in Person are:', rcount)

The number of records in Person are: 19972

In [9]:
#6 Filter records where 'LastName' ends with 'son'
son_lname = person_df.filter(person_df['LastName'].endswith('son'))

son_lname.show(10)

+---+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|_c0|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|  LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|        ModifiedDate|
+---+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|  4|               5|        EM|    false|  Ms.|     Gail|         A|  Erickson|  NULL|             0|                 NULL|"<IndividualSurve...|F3A3F6B4-AE3B-430...|2007-12-30 00:00:...|
| 22|              23|        EM|    false| NULL|     Mary|         E|    Gibson|  NULL|             0|                 NULL|"<IndividualSurve...|B10CF8EB-5589-4A8...|2009-01-05 00:00:...|
| 42|              43|        EM|    false| NULL|    Nancy|         A|  Anderson|  NULL|             1|                 NULL|"<IndividualSurve...|0681C8F9-D2EC-47D...|2008-12-26 00:00:...|
| 48|              49|        EM|    false| NULL|    Barry|         K|   Johnson|  NULL|             0|                 NULL|"<IndividualSurve...|CB28BE2E-DE93-440...|2013-11-29 00:00:...|
|166|             167|        EM|    false| NULL|    David|         N|   Johnson|  NULL|             0|                 NULL|"<IndividualSurve...|C2C7021B-3209-45F...|2008-11-25 00:00:...|
|205|             206|        EM|    false| NULL|   Stuart|         V|    Munson|  NULL|             2|                 NULL|"<IndividualSurve...|CE75C8B6-EAC8-4B1...|2008-11-25 00:00:...|
|206|             207|        EM|    false| NULL|     Greg|         F|  Alderson|  NULL|             0|                 NULL|"<IndividualSurve...|F3A921DD-55EB-46E...|2008-11-25 00:00:...|
|235|             236|        EM|    false| NULL|    Grant|         N|Culbertson|  NULL|             2|                 NULL|"<IndividualSurve...|242E654F-CFF1-495...|2009-02-18 00:00:...|
|239|             240|        EM|    false| NULL|   Willis|         T|   Johnson|  NULL|             0|                 NULL|"<IndividualSurve...|3B808CDB-0372-409...|2008-12-06 00:00:...|
|270|             271|        EM|    false| NULL|      Dan|         B|    Wilson|  NULL|             0|                 NULL|"<IndividualSurve...|9F637D98-7182-4F6...|2009-01-15 00:00:...|
+---+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
only showing top 10 rows

In [11]:
#7 Select only email address from Person df - no address column in df
cols = person_df.select("EmailPromotion", "AdditionalContactInfo")
cols.show(10)

+--------------+---------------------+
|EmailPromotion|AdditionalContactInfo|
+--------------+---------------------+
|             0|                 NULL|
|             1|                 NULL|
|             0|                 NULL|
|             0|                 NULL|
|             0|                 NULL|
|             0|                 NULL|
|             2|                 NULL|
|             0|                 NULL|
|             0|                 NULL|
|             2|                 NULL|
+--------------+---------------------+
only showing top 10 rows

In [14]:
#8 Check for missing values in person df
from pyspark.sql.functions import col, sum

missing_values = person_df.select([sum(col(c).isNull().cast("int")).alias(c) for c in person_df.columns])

missing_values.show()

+---+----------------+----------+---------+-----+---------+----------+--------+------+--------------+---------------------+------------+-------+------------+
|_c0|BusinessEntityID|PersonType|NameStyle|Title|FirstName|MiddleName|LastName|Suffix|EmailPromotion|AdditionalContactInfo|Demographics|rowguid|ModifiedDate|
+---+----------------+----------+---------+-----+---------+----------+--------+------+--------------+---------------------+------------+-------+------------+
|  0|               0|         0|        0|18963|        0|      8499|       0| 19919|             0|                19962|           0|      0|           0|
+---+----------------+----------+---------+-----+---------+----------+--------+------+--------------+---------------------+------------+-------+------------+

**Medium**

In [15]:
#9 Perform an inner join between Person and Employee DataFrames on BusinessEntityID
merged = person_df.join(employee_df, on="BusinessEntityID", how="inner")

merged.show()

+----------------+---+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+---+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+
|BusinessEntityID|_c0|PersonType|NameStyle|Title|FirstName|MiddleName|  LastName|Suffix|EmailPromotion|AdditionalContactInfo|        Demographics|             rowguid|        ModifiedDate|_c0|NationalIDNumber|             LoginID|OrganizationNode|OrganizationLevel|            JobTitle| BirthDate|MaritalStatus|Gender|  HireDate|SalariedFlag|VacationHours|SickLeaveHours|CurrentFlag|             rowguid|       ModifiedDate|
+----------------+---+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+---+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+
|               1|  0|        EM|    false| NULL|      Ken|         J|   Sánchez|  NULL|             0|                 NULL|"<IndividualSurve...|92C4279F-1207-48A...|2009-01-07 00:00:...|  0|       295847284|adventure-works\ken0|            NULL|             NULL|Chief Executive O...|1969-01-29|            S|     M|2009-01-14|        true|           99|            69|       true|F01251E5-96A3-448...|2014-06-30 00:00:00|
|               2|  1|        EM|    false| NULL|    Terri|       Lee|     Duffy|  NULL|             1|                 NULL|"<IndividualSurve...|D8763459-8AA8-47C...|2008-01-24 00:00:...|  1|       245797967|adventure-works\t...|            b'X'|              1.0|Vice President of...|1971-08-01|            S|     F|2008-01-31|        true|            1|            20|       true|45E8F437-670D-440...|2014-06-30 00:00:00|
|               3|  2|        EM|    false| NULL|  Roberto|      NULL|Tamburello|  NULL|             0|                 NULL|"<IndividualSurve...|E1A2555E-0828-434...|2007-11-04 00:00:...|  2|       509647174|adventure-works\r...|        b'Z\xc0'|              2.0| Engineering Manager|1974-11-12|            M|     M|2007-11-11|        true|            2|            21|       true|9BBBFB2C-EFBB-421...|2014-06-30 00:00:00|
|               4|  3|        EM|    false| NULL|      Rob|      NULL|   Walters|  NULL|             0|                 NULL|"<IndividualSurve...|F2D7CE06-38B3-435...|2007-11-28 00:00:...|  3|       112457891|adventure-works\rob0|        b'Z\xd6'|              3.0|Senior Tool Designer|1974-12-23|            S|     M|2007-12-05|       false|           48|            80|       true|59747955-87B8-443...|2014-06-30 00:00:00|
|               5|  4|        EM|    false|  Ms.|     Gail|         A|  Erickson|  NULL|             0|                 NULL|"<IndividualSurve...|F3A3F6B4-AE3B-430...|2007-12-30 00:00:...|  4|       695256908|adventure-works\g...|        b'Z\xda'|              3.0|     Design Engineer|1952-09-27|            M|     F|2008-01-06|        true|            5|            22|       true|EC84AE09-F9B8-4A1...|2014-06-30 00:00:00|
|               6|  5|        EM|    false|  Mr.|   Jossef|         H|  Goldberg|  NULL|             0|                 NULL|"<IndividualSurve...|0DEA28FD-EFFE-482...|2013-12-16 00:00:...|  5|       998320692|adventure-works\j...|        b'Z\xde'|              3.0|     Design Engineer|1959-03-11|            M|     M|2008-01-24|        true|            6|            23|       true|E39056F1-9CD5-478...|2014-06-30 00:00:00|
|               7|  6|        EM|    false| NULL|    Dylan|         A|    Miller|  NULL|             2|                 NULL|"<IndividualSurve...|C45E8AB8-01BE-4B7...|2009-02-01 00:00:...|  6|       134969118|adventure-works\d...|        b'Z\xe1'|              3.0|Research and Deve...|1987-02-24|            M|     M|2009-02-08|        true|           61|            50|       true|4F46DECA-EF01-41F...|2014-06-30 00:00:00|
|               8|  7|        EM|    false| NULL|    Diane|         L|  Margheim|  NULL|             0|                 NULL|"<IndividualSurve...|A948E590-4A56-45A...|2008-12-22 00:00:...|  7|       811994146|adventure-works\d...|       b'Z\xe1X'|              4.0|Research and Deve...|1986-06-05|            S|     F|2008-12-29|        true|           62|            51|       true|31112635-663B-401...|2014-06-30 00:00:00|
|               9|  8|        EM|    false| NULL|     Gigi|         N|   Matthew|  NULL|             0|                 NULL|"<IndividualSurve...|5FC28C0E-6D36-425...|2009-01-09 00:00:...|  8|       658797903|adventure-works\g...|       b'Z\xe1h'|              4.0|Research and Deve...|1979-01-21|            M|     F|2009-01-16|        true|           63|            51|       true|50B6CDC6-7570-47E...|2014-06-30 00:00:00|
|              10|  9|        EM|    false| NULL|  Michael|      NULL|    Raheem|  NULL|             2|                 NULL|"<IndividualSurve...|CA2C740E-75B2-420...|2009-04-26 00:00:...|  9|       879342154|adventure-works\m...|       b'Z\xe1x'|              4.0|Research and Deve...|1984-11-30|            M|     M|2009-05-03|        true|           16|            64|       true|EAA43680-5571-40C...|2014-06-30 00:00:00|
|              11| 10|        EM|    false| NULL|   Ovidiu|         V|   Cracium|  NULL|             0|                 NULL|"<IndividualSurve...|D2CC2577-EF6B-440...|2010-11-28 00:00:...| 10|       974026903|adventure-works\o...|        b'Z\xe3'|              3.0|Senior Tool Designer|1978-01-17|            S|     M|2010-12-05|       false|            7|            23|       true|F68C7C19-FAC1-438...|2014-06-30 00:00:00|
|              12| 11|        EM|    false| NULL|  Thierry|         B|    D'Hers|  NULL|             2|                 NULL|"<IndividualSurve...|FA263C7F-600D-4E8...|2007-12-04 00:00:...| 11|       480168528|adventure-works\t...|       b'Z\xe3X'|              4.0|       Tool Designer|1959-07-29|            M|     M|2007-12-11|       false|            9|            24|       true|1D955171-E773-4FA...|2014-06-30 00:00:00|
|              13| 12|        EM|    false|  Ms.|   Janice|         M|    Galvin|  NULL|             2|                 NULL|"<IndividualSurve...|34EB99E0-7042-4DC...|2010-12-16 00:00:...| 12|       486228782|adventure-works\j...|       b'Z\xe3h'|              4.0|       Tool Designer|1989-05-28|            M|     F|2010-12-23|       false|            8|            24|       true|954B91B6-5AA7-48C...|2014-06-30 00:00:00|
|              14| 13|        EM|    false| NULL|  Michael|         I|  Sullivan|  NULL|             2|                 NULL|"<IndividualSurve...|9A7501DE-5CAF-470...|2010-12-23 00:00:...| 13|        42487730|adventure-works\m...|        b'Z\xe5'|              3.0|Senior Design Eng...|1979-06-16|            S|     M|2010-12-30|        true|            3|            21|       true|46286CA4-46DD-4DD...|2014-06-30 00:00:00|
|              15| 14|        EM|    false| NULL|   Sharon|         B| Salavaria|  NULL|             2|                 NULL|"<IndividualSurve...|BEBA63CB-13F1-4B7...|2011-01-11 00:00:...| 14|        56920285|adventure-works\s...|        b'Z\xe7'|              3.0|     Design Engineer|1961-05-02|            M|     F|2011-01-18|        true|            4|            22|       true|54F2FDC0-87C4-406...|2014-06-30 00:00:00|
|              16| 15|        EM|    false| NULL|    David|         M|   Bradley|  NULL|             1|                 NULL|"<IndividualSurve...|2CC8BA72-5DBB-497...|2007-12-13 00:00:...| 15|        24756624|adventure-works\d...|            b'h'|              1.0|   Marketing Manager|1975-03-19|            S|     M|2007-12-20|        true|           40|            40|       true|E87029AA-2CBA-4C0...|2014-06-30 00:00:00|
|              17| 16|        EM|    false| NULL|    Kevin|         F|     Brown|  NULL|             2|                 NULL|"<IndividualSurve...|9EE4713E-B3D8-440...|2007-01-19 00:00:...| 16|       253022876|adventure-works\k...|        b'j\xc0'|              2.0| Marketing Assistant|1987-05-03|            S|     M|2007-01-26|       false|           42|            41|       true|1B480240-95C0-410...|2014-06-30 00:00:00|
|              18| 17|        EM|    false| NULL|     John|         L|      Wood|  NULL|             2|                 NULL|"<IndividualSurve...|FE21BDA7-9327-4D1...|2011-01-31 00:00:...| 17|       222969461|adventure-works\j...|           b'k@'|              2.0|Marketing Specialist|1978-03-06|            S|     M|2011-02-07|       false|           48|            44|       true|64730415-1F58-4E5...|2014-06-30 00:00:00|
|              19| 18|        EM|    false| NULL|     Mary|         A|   Dempsey|  NULL|             1|                 NULL|"<IndividualSurve...|36F04305-6769-4E6...|2011-02-07 00:00:...| 18|        52541318|adventure-works\m...|        b'k\xc0'|              2.0| Marketing Assistant|1978-01-29|            S|     F|2011-02-14|       false|           43|            41|       true|1F6DA901-C7F7-48A...|2014-06-30 00:00:00|
|              20| 19|        EM|    false| NULL|   Wanida|         M|  Benshoof|  NULL|             2|                 NULL|"<IndividualSurve...|1E7E56F4-A583-4E3...|2010-12-31 00:00:...| 19|       323403273|adventure-works\w...|           b'l '|              2.0| Marketing Assistant|1975-03-17|            M|     F|2011-01-07|       false|           41|            40|       true|43CCA446-DA1C-454...|2014-06-30 00:00:00|
+----------------+---+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+---+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+
only showing top 20 rows

In [16]:
#10 Retrieve all records from Employee where JobTitle contains Manager
managers = employee_df.filter(employee_df['JobTitle'].contains("Manager"))

managers.show(10)

+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+--------------------+
|_c0|BusinessEntityID|NationalIDNumber|             LoginID|OrganizationNode|OrganizationLevel|            JobTitle| BirthDate|MaritalStatus|Gender|  HireDate|SalariedFlag|VacationHours|SickLeaveHours|CurrentFlag|             rowguid|        ModifiedDate|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+--------------------+
|  2|               3|       509647174|adventure-works\r...|        b'Z\xc0'|              2.0| Engineering Manager|1974-11-12|            M|     M|2007-11-11|        true|            2|            21|       true|9BBBFB2C-EFBB-421...| 2014-06-30 00:00:00|
|  6|               7|       134969118|adventure-works\d...|        b'Z\xe1'|              3.0|Research and Deve...|1987-02-24|            M|     M|2009-02-08|        true|           61|            50|       true|4F46DECA-EF01-41F...| 2014-06-30 00:00:00|
|  9|              10|       879342154|adventure-works\m...|       b'Z\xe1x'|              4.0|Research and Deve...|1984-11-30|            M|     M|2009-05-03|        true|           16|            64|       true|EAA43680-5571-40C...| 2014-06-30 00:00:00|
| 15|              16|        24756624|adventure-works\d...|            b'h'|              1.0|   Marketing Manager|1975-03-19|            S|     M|2007-12-20|        true|           40|            40|       true|E87029AA-2CBA-4C0...| 2014-06-30 00:00:00|
| 25|              26|       277173473|adventure-works\p...|        b'z\xc0'|              2.0|Production Contro...|1982-11-03|            M|     M|2008-12-01|        true|           43|            41|       true|69D5D162-E817-45E...|2014-12-26 09:17:...|
|210|             211|       398223854|adventure-works\h...|           b'{@'|              2.0|Quality Assurance...|1977-10-26|            S|     M|2009-02-28|        true|           80|            60|       true|05C84608-F445-4F9...|2014-12-26 09:17:...|
|216|             217|       345106466|adventure-works\z...|           b'{Z'|              3.0|Document Control ...|1976-01-30|            M|     M|2009-01-04|       false|           77|            58|       true|DC60EEED-9F9F-443...| 2014-06-30 00:00:00|
|226|             227|       141165819|adventure-works\g...|           b'| '|              2.0|  Facilities Manager|1971-02-18|            M|     M|2009-12-02|        true|           86|            63|       true|62F6EC59-5635-44F...| 2014-06-30 00:00:00|
|234|             235|       535145551|adventure-works\p...|        b'\x85`'|              2.0|Human Resources M...|1976-02-11|            M|     F|2008-12-06|        true|           54|            47|       true|65028F15-4149-4DE...| 2014-06-30 00:00:00|
|240|             241|           30845|adventure-works\d...|     b'\x85\xa0'|              2.0|    Accounts Manager|1983-07-08|            M|     M|2009-01-30|        true|           57|            48|       true|2DC9D534-F5D1-4A1...| 2014-06-30 00:00:00|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+--------------------+
only showing top 10 rows

In [18]:
#11 Extract and add Hire Year column to employee df
from pyspark.sql.functions import year, to_date, col

# Convert HireDate to date format
employee_df = employee_df.withColumn("HireDate", to_date(col("HireDate")))

# Extract the year from the HireDate column and add it as a new column HYear
employee_df = employee_df.withColumn("HYear", year(col("HireDate")))

# Display the result
employee_df.show(10)

+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+
|_c0|BusinessEntityID|NationalIDNumber|             LoginID|OrganizationNode|OrganizationLevel|            JobTitle| BirthDate|MaritalStatus|Gender|  HireDate|SalariedFlag|VacationHours|SickLeaveHours|CurrentFlag|             rowguid|       ModifiedDate|HYear|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+
|  0|               1|       295847284|adventure-works\ken0|            NULL|             NULL|Chief Executive O...|1969-01-29|            S|     M|2009-01-14|        true|           99|            69|       true|F01251E5-96A3-448...|2014-06-30 00:00:00| 2009|
|  1|               2|       245797967|adventure-works\t...|            b'X'|              1.0|Vice President of...|1971-08-01|            S|     F|2008-01-31|        true|            1|            20|       true|45E8F437-670D-440...|2014-06-30 00:00:00| 2008|
|  2|               3|       509647174|adventure-works\r...|        b'Z\xc0'|              2.0| Engineering Manager|1974-11-12|            M|     M|2007-11-11|        true|            2|            21|       true|9BBBFB2C-EFBB-421...|2014-06-30 00:00:00| 2007|
|  3|               4|       112457891|adventure-works\rob0|        b'Z\xd6'|              3.0|Senior Tool Designer|1974-12-23|            S|     M|2007-12-05|       false|           48|            80|       true|59747955-87B8-443...|2014-06-30 00:00:00| 2007|
|  4|               5|       695256908|adventure-works\g...|        b'Z\xda'|              3.0|     Design Engineer|1952-09-27|            M|     F|2008-01-06|        true|            5|            22|       true|EC84AE09-F9B8-4A1...|2014-06-30 00:00:00| 2008|
|  5|               6|       998320692|adventure-works\j...|        b'Z\xde'|              3.0|     Design Engineer|1959-03-11|            M|     M|2008-01-24|        true|            6|            23|       true|E39056F1-9CD5-478...|2014-06-30 00:00:00| 2008|
|  6|               7|       134969118|adventure-works\d...|        b'Z\xe1'|              3.0|Research and Deve...|1987-02-24|            M|     M|2009-02-08|        true|           61|            50|       true|4F46DECA-EF01-41F...|2014-06-30 00:00:00| 2009|
|  7|               8|       811994146|adventure-works\d...|       b'Z\xe1X'|              4.0|Research and Deve...|1986-06-05|            S|     F|2008-12-29|        true|           62|            51|       true|31112635-663B-401...|2014-06-30 00:00:00| 2008|
|  8|               9|       658797903|adventure-works\g...|       b'Z\xe1h'|              4.0|Research and Deve...|1979-01-21|            M|     F|2009-01-16|        true|           63|            51|       true|50B6CDC6-7570-47E...|2014-06-30 00:00:00| 2009|
|  9|              10|       879342154|adventure-works\m...|       b'Z\xe1x'|              4.0|Research and Deve...|1984-11-30|            M|     M|2009-05-03|        true|           16|            64|       true|EAA43680-5571-40C...|2014-06-30 00:00:00| 2009|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+
only showing top 10 rows

In [20]:
#12 New dataframe to show number of employees in each department
from pyspark.sql.functions import count

employees_by_dept = dept_history_df.groupBy("DepartmentID").agg(count("BusinessEntityID").alias("NumEmps"))
employees_by_dept.show(10)

+------------+-------+
|DepartmentID|NumEmps|
+------------+-------+
|          12|      5|
|           1|      7|
|          13|      7|
|          16|      2|
|           6|      4|
|           3|     18|
|           5|     13|
|          15|      6|
|           9|      6|
|           4|     10|
+------------+-------+
only showing top 10 rows

In [21]:
#13 Group by JobTitle and count the number of employees in each group
from pyspark.sql.functions import count

employees_by_job = employee_df.groupBy("JobTitle").agg(count("BusinessEntityID").alias("EmpsbyJob"))
sorted_empjob = employees_by_job.orderBy("EmpsbyJob", ascending=False)

sorted_empjob.show()

+--------------------+---------+
|            JobTitle|EmpsbyJob|
+--------------------+---------+
|Production Techni...|       26|
|Production Techni...|       26|
|Production Techni...|       26|
|Production Techni...|       25|
|Production Techni...|       22|
|Production Techni...|       17|
|Production Techni...|       15|
|Sales Representative|       14|
|               Buyer|        9|
|Marketing Specialist|        5|
|Scheduling Assistant|        4|
|Application Speci...|        4|
|             Janitor|        4|
|Quality Assurance...|        4|
|     Design Engineer|        3|
|Production Superv...|        3|
|Production Superv...|        3|
|Production Superv...|        3|
| Marketing Assistant|        3|
|Accounts Receivab...|        3|
+--------------------+---------+
only showing top 20 rows

In [25]:
#14 Filter employees hired in 2020 - Latest Hiring year is 2013
h_2020 = employee_df.filter(col("HYear") == 2020)

h_2020.show()

max_yr = employee_df.agg({"HYear": "max"})
max_yr.show()

h_2013 = employee_df.filter(col("HYear") == 2013)

h_2013.show()

+---+----------------+----------------+-------+----------------+-----------------+--------+---------+-------------+------+--------+------------+-------------+--------------+-----------+-------+------------+-----+
|_c0|BusinessEntityID|NationalIDNumber|LoginID|OrganizationNode|OrganizationLevel|JobTitle|BirthDate|MaritalStatus|Gender|HireDate|SalariedFlag|VacationHours|SickLeaveHours|CurrentFlag|rowguid|ModifiedDate|HYear|
+---+----------------+----------------+-------+----------------+-----------------+--------+---------+-------------+------+--------+------------+-------------+--------------+-----------+-------+------------+-----+
+---+----------------+----------------+-------+----------------+-----------------+--------+---------+-------------+------+--------+------------+-------------+--------------+-----------+-------+------------+-----+

+----------+
|max(HYear)|
+----------+
|      2013|
+----------+

+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+
|_c0|BusinessEntityID|NationalIDNumber|             LoginID|OrganizationNode|OrganizationLevel|            JobTitle| BirthDate|MaritalStatus|Gender|  HireDate|SalariedFlag|VacationHours|SickLeaveHours|CurrentFlag|             rowguid|       ModifiedDate|HYear|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+
|284|             285|       481044938|adventure-works\s...|     b'\x95\xa0'|              2.0|Pacific Sales Man...|1975-01-11|            M|     M|2013-03-14|        true|           20|            30|       true|86F292DB-B73C-429...|2014-06-30 00:00:00| 2013|
|285|             286|       758596752|adventure-works\l...|     b'\x95\xab'|              3.0|Sales Representative|1977-02-14|            S|     F|2013-05-30|        true|           36|            38|       true|4A9A8407-A680-4A6...|2014-06-30 00:00:00| 2013|
|287|             288|       954276278|adventure-works\r...|     b'\x95\xeb'|              3.0|Sales Representative|1975-07-09|            S|     F|2013-05-30|        true|           35|            37|       true|B9BF7741-E0CA-4F3...|2014-06-30 00:00:00| 2013|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+

In [32]:
#15 Calculate Average years of Experience
from pyspark.sql.functions import year, current_date, round, avg

current_year = year(current_date())
employee_df = employee_df.withColumn("ExperienceYears", current_year - col("HYear"))

# Calculate the average years of experience
avg_exp = employee_df.agg(avg("ExperienceYears").alias("AverageExperience"))
avg_exp = avg_exp.withColumn("AverageExperience", round(col("AverageExperience"), 2))

avg_exp = avg_exp.collect()[0][0]

print("Average years of experience for employees is:", avg_exp, "years")

Average years of experience for employees is: 14.98 years

In [34]:
#16 Rename the columns to lowercase
person_df_copy = person_df
person_df_copy = person_df_copy.select([col.lower() for col in person_df_copy.columns])

person_df_copy.show(5)

+---+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|_c0|businessentityid|persontype|namestyle|title|firstname|middlename|  lastname|suffix|emailpromotion|additionalcontactinfo|        demographics|             rowguid|        modifieddate|
+---+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
|  0|               1|        EM|    false| NULL|      Ken|         J|   Sánchez|  NULL|             0|                 NULL|"<IndividualSurve...|92C4279F-1207-48A...|2009-01-07 00:00:...|
|  1|               2|        EM|    false| NULL|    Terri|       Lee|     Duffy|  NULL|             1|                 NULL|"<IndividualSurve...|D8763459-8AA8-47C...|2008-01-24 00:00:...|
|  2|               3|        EM|    false| NULL|  Roberto|      NULL|Tamburello|  NULL|             0|                 NULL|"<IndividualSurve...|E1A2555E-0828-434...|2007-11-04 00:00:...|
|  3|               4|        EM|    false| NULL|      Rob|      NULL|   Walters|  NULL|             0|                 NULL|"<IndividualSurve...|F2D7CE06-38B3-435...|2007-11-28 00:00:...|
|  4|               5|        EM|    false|  Ms.|     Gail|         A|  Erickson|  NULL|             0|                 NULL|"<IndividualSurve...|F3A3F6B4-AE3B-430...|2007-12-30 00:00:...|
+---+----------------+----------+---------+-----+---------+----------+----------+------+--------------+---------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

**Hard**

In [36]:
#17. Write a recursive function to find all employees reporting under a specific manager in the Employee DataFrame.
# (Manager data missing, hence subordinates calculated by OrganizationLevel, where there is no single level for single person, hence we can
# fetch lower level employees without recursion).
from pyspark.sql.functions import col

def find_subs(employee_df, employee_id):
    upper_level = employee_df.filter(col("BusinessEntityID") == employee_id).select("OrganizationLevel").first()[0]

    subs = employee_df.filter(col("OrganizationLevel") < upper_level)

    subs = subs.orderBy(col("OrganizationLevel").desc())

    return subs


employee_df.filter(col("BusinessEntityID") == 121).select("OrganizationLevel").show()  # Should show 3.0
subs_df = find_subs(employee_df, 121)
subs_df.show(10)

+-----------------+
|OrganizationLevel|
+-----------------+
|              3.0|
+-----------------+

+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+--------------------+-----+---------------+
|_c0|BusinessEntityID|NationalIDNumber|             LoginID|OrganizationNode|OrganizationLevel|            JobTitle| BirthDate|MaritalStatus|Gender|  HireDate|SalariedFlag|VacationHours|SickLeaveHours|CurrentFlag|             rowguid|        ModifiedDate|HYear|ExperienceYears|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+--------------------+-----+---------------+
| 25|              26|       277173473|adventure-works\p...|        b'z\xc0'|              2.0|Production Contro...|1982-11-03|            M|     M|2008-12-01|        true|           43|            41|       true|69D5D162-E817-45E...|2014-12-26 09:17:...| 2008|             16|
|267|             268|       314747499|adventure-works\r...|     b'\x8d\xe0'|              2.0|Application Speci...|1988-03-13|            S|     M|2009-02-03|        true|           73|            56|       true|BE190269-4003-4D7...| 2014-06-30 00:00:00| 2009|             15|
|210|             211|       398223854|adventure-works\h...|           b'{@'|              2.0|Quality Assurance...|1977-10-26|            S|     M|2009-02-28|        true|           80|            60|       true|05C84608-F445-4F9...|2014-12-26 09:17:...| 2009|             15|
|  2|               3|       509647174|adventure-works\r...|        b'Z\xc0'|              2.0| Engineering Manager|1974-11-12|            M|     M|2007-11-11|        true|            2|            21|       true|9BBBFB2C-EFBB-421...| 2014-06-30 00:00:00| 2007|             17|
|221|             222|       685233686|adventure-works\a...|        b'{\xc0'|              2.0|    Master Scheduler|1968-09-17|            S|     M|2008-12-12|       false|           44|            42|       true|13909262-4136-492...|2014-12-26 09:17:...| 2008|             16|
| 16|              17|       253022876|adventure-works\k...|        b'j\xc0'|              2.0| Marketing Assistant|1987-05-03|            S|     M|2007-01-26|       false|           42|            41|       true|1B480240-95C0-410...| 2014-06-30 00:00:00| 2007|             17|
|226|             227|       141165819|adventure-works\g...|           b'| '|              2.0|  Facilities Manager|1971-02-18|            M|     M|2009-12-02|        true|           86|            63|       true|62F6EC59-5635-44F...| 2014-06-30 00:00:00| 2009|             15|
| 18|              19|        52541318|adventure-works\m...|        b'k\xc0'|              2.0| Marketing Assistant|1978-01-29|            S|     F|2011-02-14|       false|           43|            41|       true|1F6DA901-C7F7-48A...| 2014-06-30 00:00:00| 2011|             13|
|234|             235|       535145551|adventure-works\p...|        b'\x85`'|              2.0|Human Resources M...|1976-02-11|            M|     F|2008-12-06|        true|           54|            47|       true|65028F15-4149-4DE...| 2014-06-30 00:00:00| 2008|             16|
| 20|              21|       243322160|adventure-works\t...|           b'l`'|              2.0|Marketing Specialist|1986-02-04|            M|     M|2009-03-02|       false|           44|            42|       true|AD0D7626-4506-45C...| 2014-06-30 00:00:00| 2009|             15|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+--------------------+-----+---------------+
only showing top 10 rows

In [38]:
#18 Rank by Hiredate
from pyspark.sql import Window
from pyspark.sql.functions import rank

window_spec = Window.orderBy("HireDate")
employee_df = employee_df.withColumn("HireDateRank", rank().over(window_spec))

ranked_employees = employee_df.select("BusinessEntityID", "HireDate", "HireDateRank").orderBy("HireDateRank")

ranked_employees.show(10)

+----------------+----------+------------+
|BusinessEntityID|  HireDate|HireDateRank|
+----------------+----------+------------+
|              28|2006-06-30|           1|
|              17|2007-01-26|           2|
|               3|2007-11-11|           3|
|               4|2007-12-05|           4|
|              12|2007-12-11|           5|
|              16|2007-12-20|           6|
|              40|2007-12-26|           7|
|               5|2008-01-06|           8|
|              48|2008-01-06|           8|
|              49|2008-01-07|          10|
+----------------+----------+------------+
only showing top 10 rows

In [40]:
#19. Define a function to retrieve employee details based on DepartmentID and HireDate.
from pyspark.sql.functions import col

def get_details(employee_df, dept_history_df, department_id, hire_date):
    dept_emps = dept_history_df.filter(col("DepartmentID") == department_id)
    merged = employee_df.join(dept_emps, on="BusinessEntityID", how="inner")
    details_df = merged.filter(col("HireDate") == hire_date)

    return details_df

employee_details = get_details(employee_df, dept_history_df, department_id=3, hire_date='2013-05-30')
employee_details.show()

+----------------+---+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+---------------+------------+---+------------+-------+----------+-------+------------+
|BusinessEntityID|_c0|NationalIDNumber|             LoginID|OrganizationNode|OrganizationLevel|            JobTitle| BirthDate|MaritalStatus|Gender|  HireDate|SalariedFlag|VacationHours|SickLeaveHours|CurrentFlag|             rowguid|       ModifiedDate|HYear|ExperienceYears|HireDateRank|_c0|DepartmentID|ShiftID| StartDate|EndDate|ModifiedDate|
+----------------+---+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+---------------+------------+---+------------+-------+----------+-------+------------+
|             286|285|       758596752|adventure-works\l...|     b'\x95\xab'|              3.0|Sales Representative|1977-02-14|            S|     F|2013-05-30|        true|           36|            38|       true|4A9A8407-A680-4A6...|2014-06-30 00:00:00| 2013|             11|         289|291|           3|      1|2013-05-30|   NULL|  2013-05-29|
|             288|287|       954276278|adventure-works\r...|     b'\x95\xeb'|              3.0|Sales Representative|1975-07-09|            S|     F|2013-05-30|        true|           35|            37|       true|B9BF7741-E0CA-4F3...|2014-06-30 00:00:00| 2013|             11|         289|293|           3|      1|2013-05-30|   NULL|  2013-05-29|
+----------------+---+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+---------------+------------+---+------------+-------+----------+-------+------------+

In [41]:
#20. Filter employees hired in the last 30 days
#Data is old, hence taking sample date from which 30 day period is calculated
from datetime import datetime, timedelta


sample_date = datetime(2013, 6, 1)
thirty_days_ago = sample_date - timedelta(days=30)

thirty_days_ago_str = thirty_days_ago.strftime('%Y-%m-%d')

hired = employee_df.filter(col("HireDate") >= thirty_days_ago_str)

hired.show()

+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+---------------+------------+
|_c0|BusinessEntityID|NationalIDNumber|             LoginID|OrganizationNode|OrganizationLevel|            JobTitle| BirthDate|MaritalStatus|Gender|  HireDate|SalariedFlag|VacationHours|SickLeaveHours|CurrentFlag|             rowguid|       ModifiedDate|HYear|ExperienceYears|HireDateRank|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+---------------+------------+
|285|             286|       758596752|adventure-works\l...|     b'\x95\xab'|              3.0|Sales Representative|1977-02-14|            S|     F|2013-05-30|        true|           36|            38|       true|4A9A8407-A680-4A6...|2014-06-30 00:00:00| 2013|             11|         289|
|287|             288|       954276278|adventure-works\r...|     b'\x95\xeb'|              3.0|Sales Representative|1975-07-09|            S|     F|2013-05-30|        true|           35|            37|       true|B9BF7741-E0CA-4F3...|2014-06-30 00:00:00| 2013|             11|         289|
+---+----------------+----------------+--------------------+----------------+-----------------+--------------------+----------+-------------+------+----------+------------+-------------+--------------+-----------+--------------------+-------------------+-----+---------------+------------+

In [42]:
#21. Calculate the retention rate of employees over the past 5 years - no EndDate available in employee, hence using dept_history_df
from pyspark.sql import functions as F

sample_date = datetime(2013, 12, 31)
five_years_ago = sample_date - timedelta(days=5*365)
five_years_ago_str = five_years_ago.strftime('%Y-%m-%d')

# Ensure StartDate and EndDate are in date format
dept_history_df = dept_history_df.withColumn("StartDate", F.to_date(col("StartDate"))) \
                                  .withColumn("EndDate", F.to_date(col("EndDate")))

# Filter employees
hired_5_years_ago = dept_history_df.filter(col("StartDate") >= five_years_ago_str)

# Filter retained employees
retained_employees = hired_5_years_ago.filter(col("EndDate").isNull())

# Calculate the retention rate
total_hired = hired_5_years_ago.count()
total_retained = retained_employees.count()

if total_hired > 0:
    retention_rate = (total_retained / total_hired) * 100
else:
    retention_rate = 0

# Print the retention rate
print('Retention Rate is: {:.2f}%'.format(retention_rate))

Retention Rate is: 98.14%

In [43]:
#22. Identify employees who have changed departments more than twice
from pyspark.sql import functions as F

# Group by 'BusinessEntityID' and count the number of changes
dept_changes = dept_history_df.groupBy("BusinessEntityID").agg(F.count("*").alias("ChangeCount"))

# Filter to get employees who have changed departments more than twice
multiple_changes = dept_changes.filter(col("ChangeCount") > 2)
multiple_changes.show()

+----------------+-----------+
|BusinessEntityID|ChangeCount|
+----------------+-----------+
|             250|          3|
+----------------+-----------+

In [45]:
#23. Analyze the distribution of employees across different job titles
distribution = employee_df.groupBy("JobTitle").count().orderBy("count", ascending=False)

distribution.show(10)

+--------------------+-----+
|            JobTitle|count|
+--------------------+-----+
|Production Techni...|   26|
|Production Techni...|   26|
|Production Techni...|   26|
|Production Techni...|   25|
|Production Techni...|   22|
|Production Techni...|   17|
|Production Techni...|   15|
|Sales Representative|   14|
|               Buyer|    9|
|Marketing Specialist|    5|
+--------------------+-----+
only showing top 10 rows

In [47]:
#24. Determine the maximum, minimum, and average hire dates for each department
from pyspark.sql import functions as F

dept_hire_stats = dept_history_df.withColumn("StartDate", F.to_timestamp("StartDate"))\
                                .groupBy("DepartmentID").agg(
    F.max("StartDate").alias("MaxHireDate"),
    F.min("StartDate").alias("MinHireDate"),
    F.avg("StartDate").alias("AvgHireDate")
)

dept_hire_stats.show()

+------------+-------------------+-------------------+--------------------+
|DepartmentID|        MaxHireDate|        MinHireDate|         AvgHireDate|
+------------+-------------------+-------------------+--------------------+
|          12|2009-03-06 00:00:00|2008-12-16 00:00:00|        1.23268608E9|
|           1|2011-01-18 00:00:00|2007-11-11 00:00:00|1.2261394285714285E9|
|          13|2011-07-31 00:00:00|2008-12-09 00:00:00| 1.248492342857143E9|
|          16|2013-11-14 00:00:00|2009-01-14 00:00:00|         1.3081392E9|
|           6|2009-05-03 00:00:00|2008-12-29 00:00:00|         1.2344832E9|
|           3|2013-05-30 00:00:00|2011-01-04 00:00:00|           1.32312E9|
|           5|2012-07-15 00:00:00|2007-12-20 00:00:00|1.2649026461538463E9|
|          15|2009-02-26 00:00:00|2008-12-07 00:00:00|          1.231056E9|
|           9|2009-02-25 00:00:00|2008-12-06 00:00:00|         1.2313296E9|
|           4|2011-02-25 00:00:00|2007-01-26 00:00:00|        1.25339616E9|
|           8|2011-09-01 00:00:00|2008-12-01 00:00:00|         1.2459024E9|
|           7|2010-03-10 00:00:00|2006-06-30 00:00:00|        1.23567168E9|
|          10|2009-03-08 00:00:00|2008-12-18 00:00:00|1.2330536727272727E9|
|          11|2009-02-23 00:00:00|2008-12-04 00:00:00|         1.2321072E9|
|          14|2010-03-07 00:00:00|2008-12-14 00:00:00|         1.2595392E9|
|           2|2010-12-23 00:00:00|2007-12-11 00:00:00|         1.2642912E9|
+------------+-------------------+-------------------+--------------------+